body.centered-error-page {
    display: grid;
    place-items: center; 
    height: 100vh;       
    margin: 0;
}
#ready_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
#next_btn {
    margin-left: auto;
}
#options_list {
    list-style-type: none; 
    padding-left: 0;       
    width: calc(100% - 40px); 
    max-width: 500px;      
    margin: 0 auto;        
}
.delete-btn {
    margin: 0 !important;
    padding: 5px 10px !important;
    width: auto !important;
    background-color: transparent !important; 
    border: none !important;
    color: white; 
    font-weight: bold;
    cursor: pointer;
}

.delete-btn:hover {
    color: #ff4d4d; /* Turns a nice red when hovered! */
    background-color: transparent !important;
}
.hidden {
    display: none !important;
}
.centered-text {
    text-align: center;
}
.centered-bottom-text {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}
.centered-box {
    max-width: 600px;     
    margin: 0 auto;   
}
.sortable-item {
    cursor: grab;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #0c5cb0;
    border-radius: 5px;
    border-right: 8px solid #073a70;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sortable-item:active {
    cursor: grabbing;
}
.dragging-state {
    opacity: 0.4;
    background-color: #1079e8;
}