body.centered-error-page {
    display: grid;
    place-items: center; 
    height: 100vh;       
    margin: 0;
}
#ready_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
#start_btn {
    margin-left: auto;
}
.hidden {
    display: none !important;
}