body.centered-error-page {
    display: grid;
    place-items: center; 
    height: 100vh;       
    margin: 0;
}
#ready_bar {
    display: flex;
    align-items: center;
    gap: 20px;
}
#start_btn {
    margin-left: auto;
}
.hidden {
    display: none !important;
}
.centered-box {
    max-width: 600px;     
    margin: 0 auto;   
}
.sortable-item {
    cursor: grab;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.sortable-item:active {
    cursor: grabbing;
}
.dragging-state {
    opacity: 0.4;
    background-color: #ccc;
}