<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
</head>
<body>
    <main class="container">
        <form action="/create_room" method="POST">
            <button id="create_room_button" name="create_room">Create New Room</button>
        </form>
        <br>
        <form action="/join_room" method="POST">
            <input type="text" id="join_room_box" name="room_code" maxlength="4">
            <br>
            <button id="join_room_button" disabled>Join Room</button>
        </form>

        <script>
            const box = document.getElementById("join_room_box");
            const btn = document.getElementById("join_room_button");

            // Tell the box to listen for any typing
            box.addEventListener("input", function() {
                
                // Check the length of whatever is currently typed in the box
                if (box.value.length === 4) {
                    btn.disabled = false;
                } else {
                    btn.disabled = true;
                }
            });
        </script>
    </main>  
</body>
</html>