<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
</head>
<body>
    <main class="container">
        <div id="lobby_screen">
            <div id="ready_bar">
                <button type="button" id="ready_btn">Ready</button>
                <h3 id="player_count_display">0/1</h3>
                <h3 id="lobby_title" class="centered-text">Add Options</h3>
                <button type="button" id="start_btn" disabled>Start</button>
            </div>
            <form id="option_form">
                <input type="text" id="add_option_box" maxlength="50">
                <button type="submit">Add Option</button>
            </form>
            <div id="options_list"></div>
        </div>
        <div id="voting_screen" class="hidden"></div>
        <div id="ranked_voting_screen" class="hidden">
            <h3 id="ranked_voting_title" class="centered-text">Rank Options</h3>
            <ul id="ranked_options_list">
                <li data-id="Pizza" class="sortable-item">Pizza</li>
                <li data-id="Burgers" class="sortable-item">Burgers</li>
                <li data-id="Sushi" class="sortable-item">Sushi</li>
            </ul>
        </div>
        <h3 id="room_title" class="centered-bottom-text"></h3>
        <script type="module" src="/app.js?v=3"></script>
    </main>
</body>
</html>
